@use '../../Fonts.scss' as *;

.footer {
  padding-left: 24px;
  height: 100px;
  background-color: #e1e1e1;
}

.footer-wrapper {
  display: flex;
  height: 100px;
  justify-content: center;
}

.footer-header {
  margin-left: 2rem;
  font-family: "Lemon";
}
