.header {
  background-color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  height: 80px;
}

.nav {
  height: 80px;

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 80px;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    width: 16vw;
  }

  &__list-item {
    list-style: none;
    font-weight: bold;
  }
}

.tractor {
  height: 21px;
}
